<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Smart Campus Dashboard</h1>

    <div class="card">
        <h2>Your Readiness</h2>
        <p id="readiness"></p>
    </div>

    <div class="card">
        <h2>Top Students</h2>
        <ul id="topStudents"></ul>
    </div>

    <button onclick="logout()" class="logout-btn">Logout</button>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
    loadDashboard();
</script>

</body>
</html>