<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <h2>Smart Campus</h2>
    <button onclick="logout()">Logout</button>
</div>

<div class="dashboard-container">

    <h1>Dashboard</h1>

    <p class="welcome">
        Welcome, <span id="userEmail"></span>
    </p>

    <div class="grid">

        <div class="card highlight">
            <h3>Readiness Score</h3>
            <p id="readinessScore"></p>
        </div>

        <div class="card">
            <h3>Status</h3>
            <p id="status"></p>
        </div>

        <div class="card">
            <h3>Risk Level</h3>
            <p id="risk"></p>
        </div>

    </div>

    <div class="card leaderboard">
        <h2>Top Students</h2>
        <ul id="topStudents"></ul>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
    loadDashboard();
</script>

</body>
</html>