<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

<div class="auth-container">
    <div class="auth-card">

        <h2>Smart Campus Login</h2>

        <input type="email" id="email" placeholder="Enter Email">
        <input type="password" id="password" placeholder="Enter Password">

        <p>New user? <a href="/register">Register here</a></p>

        <button onclick="login()">Login</button>

        <p id="message" class="message"></p>

    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>