<!DOCTYPE html>
<html>
<head>
    <title>My Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="layout">

    <div class="sidebar">
        <h2>Smart Campus</h2>
        <ul>
    <li onclick="go('/student-dashboard')">
        <i class="fas fa-chart-line"></i> Dashboard
    </li>

    <li class="active" onclick="go('/student-progress')">
        <i class="fas fa-user-graduate"></i> My Progress
    </li>

    <li onclick="go('/student-skills')">
        <i class="fas fa-code"></i> Skills
    </li>
</ul>
    </div>

    <div class="main">

        <div class="topbar">
            <span>Welcome, <span id="userEmail"></span></span>
            <button onclick="logout()">Logout</button>
        </div>

        <div class="dashboard-container">
            <h1>📊 My Progress</h1>

            <div class="grid">
                <div class="card">
                    <h3>Attendance</h3>
                    <p id="attendance"></p>
                </div>

                <div class="card">
                    <h3>Marks</h3>
                    <p id="marks"></p>
                </div>

                <div class="card">
                    <h3>Mock Score</h3>
                    <p id="mock"></p>
                </div>

                <div class="card">
                    <h3>Skills Score</h3>
                    <p id="skills"></p>
                </div>
            </div>

            <div class="card">
                <h2>📈 Performance Chart</h2>
                <canvas id="performanceChart"></canvas>
            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
    loadProgress();
</script>

</body>
</html>